/**
 * CSS for any widgets should go here...
 */

.color-swatch {
    width: auto;
    margin: 25px auto 10px auto;

    min-width: 100px;
    min-height: 25px;

    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.14902);
}
.widgets-wrapper {
    padding: 10px;
}
.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border: none !important;
    padding: 10px;
}
img#motion-indicator {
    margin-top: 10px;
    width: 50%;
    max-width: 379px;
}
.motion-widget-wrapper {
    text-align: center;
}