/**
 * General purpose CSS should go here...
 */

/* Give something a drop shadow */
.shadowed {
    -webkit-filter: drop-shadow(0 10px 10px rgba(0,0,0,0.9));
    filter: drop-shadow(0 10px 10px rgba(0,0,0,0.9));
}
.shadowed-close {
    -webkit-filter: drop-shadow(0 3px 3px rgba(0,0,0,0.9));
    filter: drop-shadow(0 3px 3px rgba(0,0,0,0.9));
}
/* "SmartHome Red" */
.smart-color {
    color: #B6DB49;
}
.fa:before {
    padding-right: 10px;
}
.em {
    font-style: oblique;
}
.ui-btn:after {
    background-repeat: no-repeat;
    background-position: center;
}
.blIcon {
    margin-right: 0 !important;
}
.ui-slider-switch .ui-slider-label-b {
    position: relative;
    display: block;
}
.center {
    text-align: center !important;
}
.widget.ui-slider-input {
    border-radius: 10px;
    z-index: 99;
    position: relative;
}
.ui-listview li p {
    margin: 0;
    line-height: 18px;
}
.wrapper {
    padding: 10px;
}
.ui-btn {
    background-color: #282828;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    color: white !important;
    font-size: 17px !important;
}
#error-message-content {
    padding: 20px;
}
.pull-right {
    float: right;
}
hr {
    border-left: none;
}
.ui-state-disabled {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .4;
}
.widget-wrapper-motion .ui-slider {
 display: none !important;
}
#help .fa:before {
    padding: 5px;
}
#login-content #loginForm {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
#login #login-content input {
    padding-left: 10px;
}
#login #login-content div {
    border-top: none;
    border-left: none;
    border-right: none;
}
#login #login-hero {
    width: 50%;
    max-width: 200px;
}