/**
 * CSS for the "My Devices" page only...
 */

#my-devices #my-connected-devices .not-connected img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .4;
}
#my-devices #my-connected-devices .not-connected p {
    font-style: oblique;
}
#my-devices #my-connected-devices.ui-listview li p.device-info {
    margin: 0;
    line-height: 18px;
}
#my-devices #my-connected-devices h3 {
    margin: 0;
    padding: 0;
}
#my-devices #my-connected-devices.ui-listview .ui-li-has-thumb img {
    left: 10px;
}