/**
 * CSS for the "Schedules" page only...
 */
#schedules #schedules-content #my-schedules.ui-listview h3 {
    margin: 0;
    padding: 0;
}
#schedules #schedules-content #my-schedules.ui-listview .ui-li-has-thumb img {
    left: 10px;
}