/**
 * CSS for the "Rules" page only...
 */
#rules #rules-content #my-rules.ui-listview h3 {
    margin: 0;
    padding: 0;
}
#rules #rules-content #my-rules.ui-listview .ui-li-has-thumb img {
    left: 8px;
}